---
- name: Install community applications
  pacman:
    name:
      # GUI
      - discord
      - inkscape
      - gimp
      - libreoffice-still
      - evince
      - simplescreenrecorder
      - vlc
      # CUI
      - lazygit
      - peco
      - tmux
      - ueberzug
      - github-cli
      - jq
    state: present
  become: yes

- name: Install AUR applications
  pacman:
    executable: yay
    name: "{{ item }}"
    state: present
  become: yes
  become_user: "{{ aur_builder_user }}"
  loop:
    # GUI
    - slack-desktop
    - visual-studio-code-bin
    - gitify-bin
    - spotify
    - wezterm-git
    # CUI
    - ghq
