---
- block:
    - name: (force) Uninstall development version picom
      pacman:
        name: picom-git
        state: absent
        force: yes
      become: yes

    - name: Install picom
      pacman:
        name: picom
        state: present
      become: yes
  when: picom_development_version == False

- block:
    - name: (force) Uninstall picom
      pacman:
        name: picom
        state: absent
        force: yes
      become: yes

    - name: Install development version picom
      pacman:
        executable: yay
        name: picom-git
        state: present
      become: yes
      become_user: "{{ aur_builder_user }}"
  when: picom_development_version == True
