---
ntp_system_clock_sync: True

aur_builder_user: aur_builder
nvidia_gpu_ready: True

xremap_enabled: True
xremap_config_path: "/home/{{ ansible_env.USER }}/.config/xremap/config.yml"
xremap_ignore_devices:
  - "PFU Limited HHKB-Hybrid"
  - "HHKB-Hybrid_3"

install_grub2_themes: True

picom_development_version: True

#fisher_plugins:
#  - "IlanCosman/tide@v5"

docker_users:
  - "{{ ansible_env.USER }}"

locker_background_path: "/usr/share/backgrounds/gnome/LightBulb.jpg"
