---
ntp_system_clock_sync: True

aur_builder_user: aur_builder
nvidia_gpu_ready: True

dotfiles:
  url: git@github.com:Hiroya-W/dotfiles.git
  destination: dotfiles

xremap_enabled: True
xremap_config_path: "/home/{{ ansible_env.USER }}/{{ dotfiles.destination }}/xremap-my-eucalyn/config.yml"
xremap_ignore_devices:
  - "PFU Limited HHKB-Hybrid"
  - "PFU Limited HHKB-Hybrid_3"

install_grub2_themes: True

picom_development_version: True

docker_users:
  - "{{ ansible_env.USER }}"

locker_background_path: "/usr/share/backgrounds/gnome/LightBulb.jpg"
